# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
backend/venv
backend/__pycache__/app.cpython-38.pyc
backend/__pycache__/organize_meta.cpython-38.pyc
backend/__pycache__/organize_png_meta.cpython-38.pyc
backend/__pycache__/png_read.cpython-38.pyc
backend/__pycache__/image_read.cpython-38.pyc__pycache__/
*.pyc
